<?xml version="1.0" encoding="utf-8"?>
<config version="0.2">
  <objectresolvers>
    <resolver class="gdio.unity_agent.HierarchyPathObjectResolver" priority="0" />
  </objectresolvers>
  <mouseclickhighlight radius="3" frames="15" style="circle" color="1.0,0.0,0.0"/>
  <ongui_events enabled="true" show_mouse="true"/>
  <hierarchypath primaryattribute="tag" />
</config>